.testimonials-swiper {
  padding-bottom: 4rem; /* مساحة كافية للـ Pagination */
}

.testimonials-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ff511a;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.testimonials-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

.testimonials-swiper .swiper-pagination {
  bottom: 0px !important;
}


/* تحسين التوافق مع الشاشات الصغيرة */
@media (max-width: 600px) {
  .testimonials-swiper {
    padding-bottom: 3rem;
  }
}