@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 3000px;
}

@font-face {
  font-family: "Poppins";
  src: url("Fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("Fonts/Poppins/poppins-Black.ttf");
  font-weight: 900;
}
